body {
  background-color: #657580;
  margin: 0;
}

h1 {
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 300;
  font-style: italic;
}

p {
  margin: 0;
  padding-bottom: 3px;
  font-family: sans-serif;
  font-size: 17px;
}

img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.wrapper {
  width: 660px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  margin-right: 15px;
}

input {
  margin-top: 3px;
  padding: 10px 5px 10px 5px;
  font-size: 17px;
  border-radius: 5px;
  outline:none;
  border-color: #c9c9c9;
  color: #324753;
}

.input1 {
  width: 280px;
}

.input2 {
  width: 200px;
}

.add-btn {
  border-radius: 5px;
  height: 40px;
  margin-top: 22px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  background-color: #4b8569;
  border: none; 
  outline: none;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #89dbb3;
  color: #324753;
}

.totalSum {
  margin-left: 500px;
  margin-top: 20px;
  font-size: 20px;
  width: 120px;
  word-wrap: break-word;
}

#content-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 650px;
}

.position-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cach {
  width: 90px;
  word-wrap: break-word;
}

.text {
  word-wrap: break-word;
  width: 290px;
  margin-right: 15px;
}

.date {
  width: 120px;
  margin-right: 15px;
}

.position-container p {
  font-size: 20px;
}

.input-date {
  height: 18px;
}

.input-cach {
  width: 100px;
}

@media screen and (max-width: 650px) {
  .wrapper {
    margin: auto;
    width: 350px;
  }

  .block-wrapper {
    width: 350px;
    flex-direction: column;
    align-items: self-end;
  }

  .block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .input1 {
    width: 330px;
  }

  .input2 {
    width: 330px;
  }

  .add-btn {
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 8px;
    margin-top: 0;
  }

  .totalSum {
    margin-left: 210px;
  }

  #content-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
  }

  .position-container {
    flex-wrap: wrap;
  }

  .text {
    width: 340px;
    margin-right: 0;
  }

  #content-page {
    margin-bottom: 50px;
  }

  .input-text {
    width: 330px;
    margin-bottom: 5px;
  }

  .input-date {
    width: 150px;
    margin-top: 0;
    margin-right: 5px;
  }

  .input-cach {
    margin-top: 0;
    width: 70px;
    margin-right: 5px;
  }

}